@using VNS.Web.Models.Visits
@model VisitDetailsViewModel

<div class="modal-content">
    <div class="modal-header">
        <img src="~/Content/images/girl-01.svg" class="profile-image pull-right" alt="profile-image" />
        <h4>@Model.NurseName</h4>
        <p>@Model.Date.ToString("dd.MM.yy")</p>

    </div>
    <div class="modal-body">
        <p>@Model.Description</p>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-sm-6">
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>

                @Ajax.ActionLink("EditAjax", "EditAjax", "Visits",
                new { Id = Model.Id },
                new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "vns-visit-content" },
                new { @class = "btn btn-warning btn-sm", data_target = "#vns-visit-modal" })
            </div>
            <div class="col-sm-6">
                <p class="edit-info">
                    Added: @Html.DisplayFor(v => Model.CreatedOn)<br />
                    Edited: @Html.DisplayFor(v => Model.LastModifiedOn)
                </p>
            </div>
        </div>
    </div>
</div>