@using VNS.Web.Models.Visits
@model VisitCardViewModel

<div class="col-sm-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            @*<button type="button" class="btn btn-warning btn-sm btn-circle">
                    <i class="fa fa-pencil"></i>
                </button>*@
            <img src="~/Content/images/girl-01.svg" class="profile-image pull-right" alt="profile-image" />
            <h4>@Model.NurseName</h4>
            <p>@Model.Date.ToString("dd.MM.yy")</p>
        </div>
        <div class="panel-body">
            <p>@Model.Description</p>
        </div>
        <div class="panel-footer">
            @Ajax.ActionLink("Open*", "Open", "Visits",
                new { Id = Model.Id },
                new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "visitDetails" },
                new { @class = "btn btn-info btn-sm", data_toggle = "modal", data_target = "#visitDetailsModal" })

            @Ajax.ActionLink("Edit*", "EditAjax", "Visits",
                new { Id = Model.Id },
                new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "visitDetails" },
                new { @class = "btn btn-warning btn-sm", data_toggle = "modal", data_target = "#visitDetailsModal" })

        </div>
    </div>
</div>
