@using VNS.Web.Models.Visits
@model VisitsViewModel
@{
    ViewBag.Title = "Visits";
    ViewBag.Message = "Page";
}

<div class="row">
    <div class="col-md-12 text-center">
        <h2>@ViewBag.Title.</h2>
        <p>@ViewBag.Message</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-3 col-xs-5">
        <img src="~/Content/images/duck.svg" alt="duck" class="page-image" />
    </div>
    <div class="col-sm-9 col-xs-12">
        <h3>Select criteria</h3>
        <p>Municipality, Town, Family ref#, Nurse</p>

        @* TODO: extract to partial view, to be able to use for families too *@
        @using (Html.BeginForm("Action", "Controller", FormMethod.Get, new { id = "searchVisitsForm", @class = "", role = "form" }))
        {
            @Html.AntiForgeryToken()

            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="municipality">Municipality</label><br />
                        <select class="dropdown" name="municipality">
                            <option>- All -</option>
                            @foreach (var muni in Model.Municipalities)
                            {
                                <option value=@muni.Name.ToLower()> @muni.Name </option>
                            }
                        </select>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="towns">Town</label><br />
                        <select class="dropdown" name="towns">
                            <option>- All -</option>
                            @* TODO: Filter based on selected muni *@
                            @foreach (var muni in Model.Municipalities)
                            {
                                foreach (var town in muni.Towns)
                                {
                                    <option value=@town.ToLower()> @town </option>
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <button type="reset" class="col-sm-2 col-sm-offset-1 btn btn-default btn-sm">Clear</button>
                <button type="submit" class="col-sm-3 col-sm-offset-1 btn btn-info btn-sm">Search</button>
            </div>
        }
    </div>
</div>

<hr />

@* Visits cards *@

<div class="row">

    @foreach (var visit in Model.Visits)
    {
        @Html.Partial("_VisitCardPartial", visit)
    }

</div>

@* Modal wrapper *@

<div id="visitDetailsModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg"  id="visitDetails">
        <div class="modal-content">
            <div class="modal-body text-center">
                <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    @* TODO: don't forget to include in other pages using ajax*@
    @Scripts.Render("~/bundles/jqueryajax")

    @*<script>
        function showModal() {
            $('#visitDetailsModal').modal('show');
        }
        $('#btnOpen').click(function (eve) {
            $('#visitDetails').load("/Visits/Open?name=" + $(this).data("name"));
        })

        $('#btnEdit').click(function (eve) {
            $('#visitDetails').load("/Visits/Edit?name=" + $(this).data("name"));
        })
    </script>*@
}
