@using VNS.Web.Areas.Administration.Models
@model UserRowViewModel
@{ 
    var name = String.IsNullOrEmpty(Model.FirstName) ?  Model.UserName : Model.FirstName;
}
<tr>
    <td>
        @Html.ActionLink(name, "Details", "Users", new { userName = Model.UserName })
    </td>
    <td>
        @Html.DisplayFor(u => Model.LastName)
    </td>
    <td>
        @Html.DisplayFor(u => Model.Email)
    </td>
    <td>
        @Html.DisplayFor(u => Model.UserRoles)
    </td>
    <td class="text-center">
        @Html.DisplayFor(u => Model.FamiliesCount)
    </td>
    <td class="text-center">
        @Html.DisplayFor(u => Model.VisitsCount)
    </td>
    <td class="text-center">
        @Html.DisplayFor(u => Model.IsDeleted)
    </td>
    <td class="text-center">
        @Html.ActionLink("Edit", "Edit", "Users", routeValues: new { username = Model.UserName } , htmlAttributes: new { @class = "btn btn-warning btn-sm" }) 
        @Html.ActionLink("Delete", "Delete", new { username = Model.UserName }, new { @class = "btn btn-danger btn-sm" })
    </td>
</tr>