@using VNS.Web.Areas.Administration.Models
@model UserRowViewModel
@{
    var name = String.IsNullOrEmpty(Model.FirstName) ? Model.UserName : Model.FirstName;
}
<tr>
    <td>
        @Html.ActionLink(name, "Details", "Users", routeValues: new { userName = Model.UserName }, htmlAttributes: null)
    </td>
    <td>
        @Html.DisplayFor(u => Model.FirstName)
    </td>
    <td>
        @Html.DisplayFor(u => Model.LastName)
    </td>
    <td>
        @Html.DisplayFor(u => Model.Email)
    </td>
    <td>
        @foreach (var role in Model.UserRoles)
        {
            <label class="label label-default">@role</label>
        }
    </td>
    <td class="text-center">
        @Html.DisplayFor(u => Model.FamiliesCount)
    </td>
    <td class="text-center">
        @Html.DisplayFor(u => Model.VisitsCount)
    </td>
    <td class="text-center">
        @Helpers.UserStatusLabel(Model.IsDeleted)
    </td>
    <td class="text-center">
        @Html.ActionLink("Edit", "Edit", "Users", routeValues: new { username = Model.UserName }, htmlAttributes: new { @class = "btn btn-warning btn-sm" })
    </td>
</tr>